<!DOCTYPE html>
<html lang="en">
<body>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Starter Template for Bootstrap</title>

      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">

      <style>
      body {
          margin-top: 60px;
          padding-bottom: 50px;
      }
      </style>
  </head>

  <div class="container">
    <div class="row">
      <table class="table">
        <div class="col-md-3"><dt><h4>Chefs</h4></dt></div>
        <div class="col-md-1"><dt>Sunday</dt></div>
        <div class="col-md-1"><dt>Monday</dt></div>
        <div class="col-md-1"><dt>Tuesday</dt></div>
        <div class="col-md-1"><dt>Wednesday</dt></div>
        <div class="col-md-1"><dt>Thursday<dt></div>
        <div class="col-md-1"><dt>Friday</dt></div>
        <div class="col-md-1"><dt>Saturday</dt></div>
        <div class="col-md-1"><dt>Total Shifts</dt></div>
      </table>
    </div>
  </div>


  <div class="container">
  <% @employees.each do |employee| %>
    <div class="row">
      <tr>
        <table class="table">
          <div class="col-md-3">
            <dt>
              <button type="button" class="btn btn-primary"><%= link_to employee.name, employee %></button>
            </dt>
            <dt><%= employee.title %></dt>
            <dt><%= employee.description %></dt>
          </div>
          <div class="col-md-1">
            <dt><label><input type="checkbox">Brunch</label></dt>
          </div>
          <div class="col-md-1">
            <dt><label><input type="checkbox">AM</button></label></dt>
            <dt><label><input type="checkbox">PM</button></label></dt></dt>
          </div>
          <div class="col-md-1">
            <dt><label><input type="checkbox">AM</button></label></dt>
            <dt><label><input type="checkbox">PM</button></dt>
          </div>
          <div class="col-md-1">
            <dt><label><input type="checkbox">AM</button></label></dt>
            <dt><label><input type="checkbox">PM</button></dt>
          </div>
          <div class="col-md-1">
            <dt><label><input type="checkbox">AM</button></label></dt>
            <dt><label><input type="checkbox">PM</button></dt>
          </div>
          <div class="col-md-1">
            <dt><label><input type="checkbox">AM</button></label></dt>
            <dt><label><input type="checkbox">PM</button></dt>
          </div>
          <div class="col-md-1">
            <dt><label><input type="checkbox">AM</button></label></dt>
            <dt><label><input type="checkbox">PM</button></dt>
          </div>
          <div class="col-md-1">
            <dt></dt>
            <dt></dt>
          </div>
        </table>
      </tr>

    </div>
  <% end %>
    <dt>
      <button type="button" class="btn btn-warning"><%= link_to 'New Employee', new_employee_path %></button>
    </dt>
  </div>

  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
</html>


