<h3>Rollers</h3>

<div class="row">
  <ul id="employees">
  <% @employees.each do |employee| %>
  <div class="span1 well">
    <%= content_tag_for :dt, employee do %>
      <%= employee.name %>
      <%= link_to "Show", employee_path(employee) %>
    <% end %>
  </div>
  <% end %>
  </ul>
</div>

<div class="span1 well">
<small><%= link_to "Add Chef", new_employee_path %></small>
</div>


