<h3>Employees</h3>

<div class="row">
<% @employees.each do |employee| %>
  <div class="span1 well">
    <dt><%= employee.name %></dt>
    <dt><%= link_to "Show", employee_path(employee) %></dt>
  </div>
<% end %>
</div>


