<!DOCTYPE html>
<html lang="en">
<body>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.css" rel="stylesheet">

      <style>
      body {
          margin-top: 60px;
          padding-bottom: 50px;
          padding-right: 50px;
      }
      </style>
  </head>



  <% @employees.each do |employee| %>
    <div class="well">
      <dt>
        <button type="button" class="btn btn-primary"><%= link_to employee.name, employee %></button>
      </dt>
      <li><%= employee.title %></li>
      <li><%= employee.description %></li>
    </div>
  <% end %>


</body>
</html>


