<h1>Schedule</h1>

<body>
  <table>
    <tr>
      <div class="row">
        <div class="col-md-3"><b>Name</b></div>
        <div class="col-md-1">Monday</div>
        <div class="col-md-1">Tuesday</div>
        <div class="col-md-1">Wednesday</div>
        <div class="col-md-1">Thursday</div>
        <div class="col-md-1">Friday</div>
        <div class="col-md-1">Saturday</div>
        <div class="col-md-1">Sunday</div>
      </div>
    </tr>
  </table>

      <% @employees.each do |employee| %>
      <table>
        <tr>
          <div class="col-md-3"><%= employee.name %></div>
          <td><%= employee.description %></td>
        </tr>
        <td class="list_actions">
          <%= link_to 'Show', employee %><br/>
        </td>
      </table>
      <% end %>


<br>
</body>

<%= link_to 'Add Chef', new_employee_path %>
