<div class="well">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        <th>
          <% @employees.each do |employee| %>
          <dt>
            <dl><%= employee.name %></dl>
            <% end %>
          </dt>

        </th>
      </tr>
    </table>
  </div>
</div>
