<h3>Posts</h3>

<% @posts.each do |post| %>
  <th>
    <div class="span5 well">
      <dt><h4><%= post.title %></h4></dt>
      <dt><%= post.description %></dt>
      <dt><small>Created at <%= post.created_at %></small></dt>
      <br/>
      <dt><%= link_to "Show", employee_path(@employee) %></dt>
    </div>
  </th>
<% end %>


