<ul class="nav">
  <li>
    <%= link_to "Palette", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to "New Chef", new_employee_path %>
  </li>
  <li>
    <%= link_to "New Schedule", new_schedule_path %>
  </li>
</ul>

