<ul class="nav">
  <li>
    <%= link_to "B-Side ITR", root_path, :class => 'brand' %>
  </li>

  <% if logged_in? %>
    <li>
        <%= link_to "Logout", logout_path %>
    </li>
  <% else %>
    <li>
    <%= link_to "Login", login_path %>
  </li>
  <% end %>
  <li>
    <%= link_to "Message", new_message_path %>
  </li>

</ul>


