<ul class="nav">
  <li>
    <%= link_to "Palette", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to "Add Chef", new_employee_path %>
  </li>
  <li>
    <%= link_to "Create Schedule", new_schedule_path %>
  </li>
  <li>
    <%= link_to "News", new_post_path %>
  </li>
</ul>

