<ul class="nav">
  <li>
    <%= link_to "Palette", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to "The Knives", employees_path %>
  </li>
  <li>
    <%= link_to "Make the schedule", new_post_path %>
  </li>
</ul>


