<ul class="nav">
  <li>
    <%= link_to "Palette", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to "Rollers", employees_path %>
  </li>
  <li>
    <%= link_to "Message", new_message_path %>
  </li>

</ul>


